.gradient--loon-crest {
  background-image: linear-gradient(to left, #ff2d55, #ff4500);
}

.gradient--premium-dark {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  background-image: linear-gradient(to left, #ff2d55, #ff4500);
}

.gradient--slick-carbon {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}


.gradient--eternal-constance {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.gradient--le-cocktail {
 background-image: linear-gradient(to right top, #000000, #43141f, #831a2a, #c42626, #ff4500);
}

.gradient--rich-metal {
   background-image: linear-gradient(to right top, #ff4500, #fb4500, #f64500, #f24400, #ee4400, #db3814, #c72f1e, #b32723, #881c27, #5b1723, #301219, #000000);
}
