@import '~sanitize.css';
@import 'variables';
@import '~bootstrap/scss/bootstrap.scss';
@import 'boostwatch';
@import 'grad';


.margin-auto {
  margin: 0 auto;
}

.img-header {
  height: 40px;
  padding-left: 20px;
}